<div class="jumbotron">
    <h3>WELCOME TO VEPH INFORMATION SYSTEM</h3>
    <p class="lead">Diligence is the mother of good fortune.</p>
    <p><a href="http://vla.vn" target="_blank" class="btn btn-primary btn-lg">About Us</a></p>
</div>
